[submodule "raw/storepep-react"]
	path = raw/storepep-react
	url = git@bitbucket.org:xadapter-cyd/storepep-react.git
[submodule "raw/mcsl-test-automation"]
	path = raw/mcsl-test-automation
	url = git@bitbucket.org:xadapter-cyd/mcsl-test-automation.git
