[submodule "raw/storepep-react"]
	path = raw/storepep-react
	url = git@bitbucket.org:xadapter-cyd/storepep-react.git
[submodule "raw/mcsl-test-automation"]
	path = raw/mcsl-test-automation
	url = git@bitbucket.org:xadapter-cyd/mcsl-test-automation.git
[submodule "raw/carrier-registration"]
	path = raw/carrier-registration
	url = git@gitlab.com:pghive/services/carrier-registration-api.git
[submodule "raw/ship-rate-track-proxy"]
	path = raw/ship-rate-track-proxy
	url = git@gitlab.com:pghive/services/ship-rate-track-proxy-api.git
[submodule "raw/reporting"]
	path = raw/reporting
	url = git@bitbucket.org:xadapter-cyd/reporting.git
[submodule "raw/order-search"]
	path = raw/order-search
	url = git@gitlab.com:pghive/services/order-search.git
[submodule "raw/storepep-internal-api"]
	path = raw/storepep-internal-api
	url = git@gitlab.com:pghive/services/storepep-internal-api.git
[submodule "raw/order-updates"]
	path = raw/order-updates
	url = git@gitlab.com:pghive/services/order-updates.git
[submodule "raw/fulfillment-service"]
	path = raw/fulfillment-service
	url = git@gitlab.com:pghive/services/fulfillment-service.git
[submodule "raw/shopify-multicarrier-app"]
	path = raw/shopify-multicarrier-app
	url = git@bitbucket.org:xadapter-cyd/shopify-multicarrier-app.git
[submodule "raw/woocommerce-plugin"]
	path = raw/woocommerce-plugin
	url = git@bitbucket.org:xadapter-cyd/multi-carrier-shipping-plugin-for-woocommerce.git
